@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
    --font-grotesk: 'Space Grotesk', sans-serif;
}

.dark-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.dark-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.dark-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.dark-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
